extends ../bodycontent

block content
  .container
        .col-sm-6.com-sm-offset-3
            h1
                span.fa.fa-sign-user(style='margin-right: 20px')
                | Add Local account

            if sessionFlash && sessionFlash.message
                .alert.alert-danger #{sessionFlash.message}

            form(action='/connect/local', method='post')
                .form-group
                    label Email
                    input.form-control(type='text', name='email')
                .form-group
                    label Password
                    input.form-control(type='password', name='password')
                button.btn.btn-warning.btn-lg Add Local

            hr
        
            a(href='/profile') Go back to profile