/*****************************/
/*          Globals          */
/*****************************/
body
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

/**************************/
/*         Navbar         */
/**************************/
@css {
    /* make sidebar nav vertical */ 
    @media (min-width: 992px) {
      .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
      }
      .sidebar-nav .navbar ul {
        float: none;
      }
      .sidebar-nav .navbar ul:not {
        display: block;
      }
      .sidebar-nav .navbar li {
        float: none;
        display: block;
      }
      .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
      }
      #navigation-section {
        padding: 0px;
        width: 70px;
        background-color: #264c6f;
        top: 0;
        left: 0;
        bottom: 0;
        position: fixed;
      }
      #content-section {
        margin-left: 70px;
      }
    }

    #navigation-section {
        padding: 0px;
    }

    /*
    http://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0
    */
    #navbar-socialsounds.navbar-default {
      background-color: #264c6f;
      border-color: #0079c1;
      border-radius: 0;
    }
    #navbar-socialsounds.navbar-default .navbar-brand {
      color: #ffffff;
    }
    #navbar-socialsounds.navbar-default .navbar-brand:hover,
    #navbar-socialsounds.navbar-default .navbar-brand:focus {
      color: #264c6f;
    }
    #navbar-socialsounds.navbar-default .navbar-text {
      color: #ffffff;
    }
    #navbar-socialsounds.navbar-default .navbar-nav > li > a {
      color: #ffffff;
    }
    #navbar-socialsounds.navbar-default .navbar-nav > li > a:hover,
    #navbar-socialsounds.navbar-default .navbar-nav > li > a:focus {
      color: #264c6f;
    }
    #navbar-socialsounds.navbar-default .navbar-nav > .active > a,
    #navbar-socialsounds.navbar-default .navbar-nav > .active > a:hover,
    #navbar-socialsounds.navbar-default .navbar-nav > .active > a:focus {
      color: #264c6f;
      background-color: #0079c1;
    }
    #navbar-socialsounds.navbar-default .navbar-nav > .open > a,
    #navbar-socialsounds.navbar-default .navbar-nav > .open > a:hover,
    #navbar-socialsounds.navbar-default .navbar-nav > .open > a:focus {
      color: #264c6f;
      background-color: #0079c1;
    }
    #navbar-socialsounds.navbar-default .navbar-toggle {
      border-color: #0079c1;
    }
    #navbar-socialsounds.navbar-default .navbar-toggle:hover,
    #navbar-socialsounds.navbar-default .navbar-toggle:focus {
      background-color: #0079c1;
    }
    #navbar-socialsounds.navbar-default .navbar-toggle .icon-bar {
      background-color: #ffffff;
    }
    #navbar-socialsounds.navbar-default .navbar-collapse,
    #navbar-socialsounds.navbar-default .navbar-form {
      border-color: #ffffff;
    }
    #navbar-socialsounds.navbar-default .navbar-link {
      color: #ffffff;
    }
    #navbar-socialsounds.navbar-default .navbar-link:hover {
      color: #264c6f;
    }

    @media (max-width: 992px) {
      #navbar-socialsounds.navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
      }
      #navbar-socialsounds.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
      #navbar-socialsounds.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #264c6f;
      }
      #navbar-socialsounds.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
      #navbar-socialsounds.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
      #navbar-socialsounds.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #264c6f;
        background-color: #0079c1;
      }
    }
}
/***************************/
/*          Views          */
/***************************/
/* Profile */
.profileStyle
    margin-right: 20px

.profileDataSection
    white-space: pre

.profileDataName
    font-weight: bold

.profileDataValue
    font-weight: normal
 
/* Index */
.indexContainer
    margin-top: 50px  

.indexTitle
    margin-right: 20px

.indexStyle
    margin-right: 10px
    
/* Login */
.loginTitle
    margin-right: 20px
    
/* SignUp */
.signUpTitle
    margin-right: 20px
    
/* Player */
.player-fluid-container-style
    background-color: black

.player-container-style
    width: 100% !important
    /*pointer-events: none*/

#soundcloudPlayer
    margin: auto

#youtubePlayer
    min-width: 480px !important
    min-height: 270px !important

#fb-root
    float: left

#gpShareButton
    float: left

#twitterShareButton
    float: left

#smallPlaylistSection
    display: none
    
#smallDisplayChatBtn
    display: none

@css {
    @media (min-width: 992px) {
      #chatSection {
        display: block !important;
      }
    }
}
/*
.search-section
    position: relative
    background-color: red

.search-section-textBox
    width: 1000px
*/
.search-results-dropdown
    display: none
    height: 30px
    margin-left: 5px
    margin-right: 5px
    width: 300px

.search-content-button
    margin: 5px
/*
.channel-section
    position: relative
    float: left
    height: 500px
    width: 240px
    background-color: cyan

.channel-section-title
    color: red

.channel-section-skip-text
    position: absolute
    bottom:30px

.channel-section-skip
    position: absolute
    bottom: 0

.chat-section
    background-color: yellow

.chat-section-discusion
    height: 200px
    background-color: green

.chat-section-text-input
    width: 1000px
*/

/***************************/
/*          Chat           */
/***************************/
@css {
    .pages {
      height: 100%;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    #page {
      height: 100%;
      position: absolute;
      width: 100%;
    }

    /* Login Page */

    .loginPage {
      background-color: #000;
    }

    .loginPage .form {
      height: 100px;
      text-align: center;
      top: 50%;
      width: 100%;
    }

    .loginPage .form .usernameInput {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #fff;
      outline: none;
      padding-bottom: 15px;
      text-align: center;
      width: 400px;
    }

    .loginPage .title {
      font-size: 200%;
    }

    .loginPage .usernameInput {
      font-size: 200%;
      letter-spacing: 3px;
    }

    .loginPage .title, .loginPage .usernameInput {
      color: #fff;
      font-weight: 100;
    }

    /* Chat page */

    #chatPage {
      display: none;
      height: 400px;
      border: 5 px solid #000;
    }

    /* Font */

    #chatbox {
      font-size: 150%;
    }

    #inputMessage {
      font-size: 100%;
    }

    /* Messages */

    #chatArea {
      height: 340px;
    }

    #chatBox {
      height: 100%;
      margin: 0;
      overflow-y: scroll;
      padding: 10px 20px 10px 20px;
      list-style-type: none;
      border: 1px solid #000;
      font-size: large;
    }

    #username {
      font-weight: 700;
      overflow: hidden;
      padding-right: 15px;
      text-align: right;
    }

    /* Input */

    #inputChat {
      border: 10px solid #000;
      bottom: 0;
      height: 60px;
      left: 0;
      outline: none;
      padding-left: 10px;
      right: 0;
      width: 100%;
    }
}