/*****************************/
/*          Globals          */
/*****************************/
body
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

.btn, .well, .form-control, .jumbotron
    border-radius: 0 !important
    -webkit-border-radius: 0 !important
    -moz-border-radius: 0 !important

/**************************/
/*         Navbar         */
/**************************/
@css {
    /* make sidebar nav vertical */ 
    @media (min-width: 992px) {
      .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
      }
      .sidebar-nav .navbar ul {
        float: none;
      }
      .sidebar-nav .navbar ul:not {
        display: block;
      }
      .sidebar-nav .navbar li {
        float: none;
        display: block;
      }
      .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
      }
      #navigation-section {
        padding: 0px;
        width: 70px;
        background-color: #002d56;
        top: 0;
        left: 0;
        bottom: 0;
        position: fixed;
      }
      #content-section {
        margin-left: 70px;
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }

    #navigation-section {
        padding: 0px;
    }

    /*
    http://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0
    */
    #navbar-socialsounds.navbar-default {
      background-color: #002d56;
      border-color: #0079c1;
      border-radius: 0;
      border: 0;
    }
    #navbar-socialsounds.navbar-default .navbar-brand {
      color: #ffffff;
    }
    #navbar-socialsounds.navbar-default .navbar-brand:hover,
    #navbar-socialsounds.navbar-default .navbar-brand:focus {
      color: #ffffff;
    }
    #navbar-socialsounds.navbar-default .navbar-text {
      color: #ffffff;
    }
    #navbar-socialsounds.navbar-default .navbar-nav > li > a {
      color: #ffffff;
    }
    #navbar-socialsounds.navbar-default .navbar-nav > li > a:hover,
    #navbar-socialsounds.navbar-default .navbar-nav > li > a:focus {
      background-color: #264c6f;
      color: #ffffff;
    }
    #navbar-socialsounds.navbar-default .navbar-nav > .active > a,
    #navbar-socialsounds.navbar-default .navbar-nav > .active > a:hover,
    #navbar-socialsounds.navbar-default .navbar-nav > .active > a:focus {
      background-color: #0079c1;
      color: #ffffff;
    }
    #navbar-socialsounds.navbar-default .navbar-nav > .open > a,
    #navbar-socialsounds.navbar-default .navbar-nav > .open > a:hover,
    #navbar-socialsounds.navbar-default .navbar-nav > .open > a:focus {
      background-color: #0079c1;
      color: #ffffff;
    }
    #navbar-socialsounds.navbar-default .navbar-toggle {
      border-color: #ffffff;
    }
    #navbar-socialsounds.navbar-default .navbar-toggle:hover,
    #navbar-socialsounds.navbar-default .navbar-toggle:focus {
      background-color: #264c6f;
    }
    #navbar-socialsounds.navbar-default .navbar-toggle .icon-bar {
      background-color: #ffffff;
    }
    #navbar-socialsounds.navbar-default .navbar-collapse,
    #navbar-socialsounds.navbar-default .navbar-form {
      border-color: #ffffff;
    }
    #navbar-socialsounds.navbar-default .navbar-link {
      color: #ffffff;
    }
    #navbar-socialsounds.navbar-default .navbar-link:hover {
      color: #002d56;
    }

    @media (max-width: 992px) {
      #navbar-socialsounds.navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
      }
      #navbar-socialsounds.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
      #navbar-socialsounds.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #002d56;
      }
      #navbar-socialsounds.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
      #navbar-socialsounds.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
      #navbar-socialsounds.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #002d56;
        background-color: #0079c1;
      }
    }
}
/***************************/
/*          Profile        */
/***************************/
#editUsername
    display: none

#editUsernameBtn
    padding-left: 10px

.profileStyle
    margin-right: 20px

.profileDataSection
    white-space: pre

.profileDataName
    font-weight: bold
    padding-right: 10px

.profileDataValue
    font-weight: normal

.profileUsernameBox
    min-width: 150px
    max-width: 250px
    placeholder: 'new username'

/***************************/
/*          Index          */
/***************************/
.indexContainer
    margin-top: 50px  

.indexTitle
    margin-right: 20px

.indexStyle
    margin-right: 10px

/***************************/
/*          Login          */
/***************************/
.loginTitle
    margin-right: 20px

/***************************/
/*        Sign up          */
/***************************/
.signUpTitle
    margin-right: 20px
    
/***************************/
/*        Player           */
/***************************/
#searchResultsDropdown
    margin-top: -1px
    border-radius: 0

#searchResultsDropdownBtn
    display: none

.embed-responsive
    background-color: black
    /*pointer-events: none*/

#soundcloudPlayer
    margin: auto

#youtubePlayer
    /*min-width: 480px !important*/
    /*min-height: 270px !important*/

#fb-root
    float: left

#gpShareButton
    float: left

#twitterShareButton
    float: left

#smallPlaylistSection
    display: none
    
#smallDisplayChatBtn
    display: none

.no-padding-style
    padding-left: 0px !important
    padding-right: 0px !important

a.highlightedElement
    font-weight: bold

#contentQueueList   
    max-height: 350px
    overflow: auto
    

/***************************/
/*          Chat           */
/***************************/
@media (min-width: 992px)
    #chatSection
        display: block !important

#chatSection
    min-height: 320px
    max-height: 400px
    width: 100%
    margin: 0px
    padding: 0px

/* Messages */
#chatArea
    min-height: 290px
    max-height: 370px

#chatBox
    background-color: #DDDDDD
    min-height: 290px
    max-height: 370px
    margin: 0px
    padding: 0px
    overflow-y: auto
    list-style-type: none
    font-size: large

#chatBox.ul li
    padding: 5px 10px 5px 10px

#chatBox.ul li:nth-child(even)
    background-color: #FFFFFF

#chatBox.ul li:nth-child(off)
    background: transparent

#chatBox.ul li span
    width: 100%
    display: inline-block
    overflow-wrap: break-word

/* Input */
#inputChat
    left: 0
    right: 0
    bottom: 0
    height: 30px
    outline: none
    padding-left: 10px
    width: 100%
    border: 1px solid #000