extends layout

block wrapperContent
    #navigation-section
        .sidebar-nav
            .navbar.navbar-default.navbar-fixed-top#navbarSocialsounds(role="navigation")
                .navbar-header
                    button.navbar-toggle(type="button" data-toggle="collapse" data-target=".sidebar-navbar-collapse")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.visible-xs.navbar-brand socialsounds
                .navbar-collapse.collapse.sidebar-navbar-collapse
                    ul.nav.navbar-nav
                        li#playerLink
                            a(href='/player/channels/Home-channel') Player
                        li#remoteLink
                            a(href='/remote/channels/Home-channel') Remote
                        block navbarcontent
                    ul.nav.navbar-nav.navbar-right
                        li#profileLink
                            a(href='/profile') Profile
    #contentSection
        block content
block bodyscripts
    script(src='/javascripts/bodyContent.js')