extends layout

block wrapperContent
    .col-md-1.col-lg-1
        .sidebar-nav
            .navbar.navbar-default(role="navigation")
                .navbar-header
                    button.navbar-toggle(type="button" data-toggle="collapse" data-target=".sidebar-navbar-collapse")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.visible-xs.navbar-brand socialsounds
                .navbar-collapse.collapse.sidebar-navbar-collapse
                    ul.nav.navbar-nav
                        block sidebarcontent
                            li.active
                                a(href='/player') Player
                            li
                                a(href='/profile') Profile
    .col-xs-12.col-sm-12.col-md-11.col-lg-11
        div.container-fluid()
            block content