extends layout

block wrapperContent
    #navigation-section
        .sidebar-nav
            .navbar.navbar-default#navbar-socialsounds(role="navigation")
                .navbar-header
                    button.navbar-toggle(type="button" data-toggle="collapse" data-target=".sidebar-navbar-collapse")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.visible-xs.navbar-brand socialsounds
                .navbar-collapse.collapse.sidebar-navbar-collapse
                    ul.nav.navbar-nav
                        block sidebarcontent
                            li.active
                                a(href='/player') Player
                            li
                                a(href='/profile') Profile
    #content-section.container-fluid()
        block content