extends layout

block wrapperContent
    .container.indexContainer
        .jumbotron.text-center
            h1
                span.fa.fa-lock.indexTitle
                span socialsounds login

            p 
                span login or register using: 

            a.btn.btn-default(href='/login').indexStyle
                span.fa.fa-user.indexStyle
                span Local Login 
            a.btn.btn-default(href='/signup').indexStyle
                span.fa.fa-user.indexStyle
                span Local Signup 
            a.btn.btn-primary(href='/auth/facebook').indexStyle
                span.fa.fa-facebook.indexStyle
                span Facebook 
            a.btn.btn-info(href='/auth/twitter').indexStyle
                span.fa.fa-twitter.indexStyle
                span Twitter 
            a.btn.btn-danger(href='/auth/google').indexStyle
                span.fa.fa-google-plus.indexStyle
                span Google 

block bodyscripts