extends bodycontent

block content
    .modal.fade.active#createChannelModal(role='dialog', arial-labelled-by='createChannel', tabindex='-1')
        .modal-dialog.modal-sm(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4.modal-title#createChannel Create a channel
                .modal-body
                    label Channel name 
                    input.form-control#createChannelNameField(type='text', name='channelName')
                    label Channel password 
                    input.form-control#createChannelPasswordField(type='password', name='channelPassword')
                    label Confirm password 
                    input.form-control#createChannelPasswordConfirmField(type='password', name='channelPasswordConfirm')
                    .alert.alert-danger#createChannelPasswordErrorMessage(style='display: none') Passwords don't match.
                    .alert.alert-danger#createChannelNameErrorMessage(style='display: none') Channel name already taken, please chose a new one.
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary#btnCreateChannel(type='button') Create
                    input(type='checkbox')#cboxPrivate
                    label.span Private channel

      .modal.fade.active#importContentModal(role='dialog', arial-labelled-by='importContent', tabindex='-1')
        .modal-dialog.modal-sm(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4.modal-title#importContent Import playlist
                .modal-body
                    label Import content 
                    input.form-control#importContentData(type='text', name='content')
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary#btnImportContent(type='button') Import


    .modal.fade.active#switchChannelModal(role='dialog', arial-labelled-by='switchChannel', tabindex='-1')
        .modal-dialog.modal-sm(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4.modal-title#switchChannel Switch channel
                .modal-body
                    label Channel name 
                    input.form-control#switchChannelNameField(type='text', name='channelName')
                    label Channel password 
                    input.form-control#switchChannelPasswordField(type='password', name='channelPassword')
                    .alert.alert-danger#switchChannelPasswordErrorMessage(style='display: none') Invalid password, try again.
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary#btnSwitchChannel(type='button') Join

    .container-fluid
        div
            span.h1#channelTitle #{room}
        .container-fluid-main-section
            .left-div#playlistSection
                .playlist-section-title
                    span.h3 Playlist
                .playlist-section
                    .list-group.content-queue-list-group#contentQueueListGroup
                .skip-section
                    div
                        button.btn#btnSkip Skip
                    label#labelSkip 0/0 user voted to skip
                    .progress
                        .progess-bar.progress-bar-info#progessBar(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%")
                            label 
                    .hidden-xs.hidden-sm
                        button.btn#exportBtn Export
                        button.btn#btnImportModal(data-toggle='modal', data-target='#importContentModal') Import content
            .center-div
                div
                    .input-group
                        .input-group-btn#searchBar
                            button.btn.dropdown-toggle#searchResultsDropdownBtn(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                span.caret
                            ul.dropdown-menu#searchResultsDropdown
                                li There is nothing to see here
                        input.form-control#searchBarInput(type='search' placeholder='Search or enter url')
                        .input-group-btn
                            button.btn#searchButton(title="Search")
                                i.fa.fa-search
                div
                    .alert.alert-info#contentReadyToBeAddedMessage(style='display: none; margin-bottom: 0px')
                div
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item#soundcloudPlayer
                        .iframe.embed-responsive-item#vimeoPlayer
                        .iframe.embed-responsive-item#youtubePlayer
                div
                    .col-xs-4.col-sm-4.col-md-6.col-lg-6.no-padding-style
                        .pull-left
                            #fb-root
                                a.fb-share-button#fbShareButton(data-href='http://socialsounds.azurewebsites.net', data-layout='button')
                            #gpShareButton
                                a.g-plus(data-action='share', data-annotation='none', data-height='24', data-href='http://socialsounds.azurewebsites.net')
                            #twitterShareButton
                                a.twitter-share-button(href='https://twitter.com/intent/tweet', data-text=' ', data-url='http://socialsounds.azurewebsites.net', data-hashtags='socialsounds') Tweet
                    .col-xs-4.col-sm-4.hidden-md.hidden-lg.no-padding-style
                        .text-center
                            button.btn#smallDisplayChatBtn Chat
                            button.btn#smallDisplayPlaylistBtn Playlist
                    .col-xs-4.col-sm-4.col-md-6.col-lg-6.no-padding-style
                        .pull-right
                            .user-number
                                i.fa.fa-user 
                                label.text#nbUsers
                            button.btn#btnOpenInBrowser(title="Open this content in new window")
                                i.fa.fa-external-link
                            button.btn#btnMuteContent
                                i.glyphicon.glyphicon-volume-up#volumeOn(title="Mute")
                                i.glyphicon.glyphicon-volume-off#volumeOff(title="Unmute", style="display: none")
                #ownerDashboard
                    div
                        span.h3 Owner controls
                    .btn-group
                        button.btn#btnDashSkip Skip
                        button.btn#btnDashMute Mute
                        button.btn#btnDashPause Pause
                        button.btn#startBroadcastButton Start Broadcast
                div
                    #channelListDiv
                        span.h4 Channels
                        ul#channelList
                        div
                            button.btn#btnCreateChannelModal(data-toggle='modal', data-target='#createChannelModal') Create channel 
            .right-div#chatSection
                .chat-section-title
                    span.h3 Chat
                .chat-section
                    .chat-messages
                        .chat-box.ul#chatBox
                    .chat-interface
                        input.input-chat#inputChat(PlaceHolder="Send a message" type="text" maxlength="300")   

append bodyscripts
    script(type='text/javascript').
        var userCookie = !{JSON.stringify(user)}
        var roomId = !{JSON.stringify(room)}
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    script(src='/javascripts/socketio-client.js')
    script(src='/javascripts/player.js')
    script(src='/javascripts/youtube-player.js')
    script(src='http://connect.soundcloud.com/sdk/sdk-3.0.0.js')
    script(src='https://w.soundcloud.com/player/api.js')
    script(src='/javascripts/soundcloud-player.js')
    script(src='/javascripts/facebook-social-plugin.js')
    script(src='https://apis.google.com/js/client.js?onload=googleApiClientReady')
    script(src='https://apis.google.com/js/platform.js' async defer)
    script(src='/javascripts/twitter-social-plugin.js')