extends bodycontent

block content

    .container-fluid
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                .form-inline
                    button.btn#addContentButton Add
                    input.form-control#searchBarInput(type='text', placeholder='Search or enter url')
                    dropdown#searchResults
                        select.search-results-dropdown#searchResultsDropdown
                    button.btn.search-content-button#searchButton Search
                    button.btn.search-content-button#startBroadcastButton Start Broadcast
        .row
            .col-xs-3.col-sm-3.col-md-3.col-lg-3
                span Channel Title
                ul
                    li
                        a(href='') Adele - Hello
                    li
                        a(href='') Macklemore - THRIFT SHOP
                .progress
                    .progess-bar
                        span 3/15 voted person voted to skip
                div
                    button.btn#btnSkip Skip
            .col-xs-9.col-sm-9.col-md-9.col-lg-9
                .row
                    .container-fluid.player-fluid-container-style
                        .container.player-container-style
                            .embed-responsive.embed-responsive-16by9
                                iframe.embed-responsive-item#soundcloudPlayer
                                .iframe.embed-responsive-item#vimeoPlayer
                                .iframe.embed-responsive-item#youtubePlayer
                .row
                    .form-inline
                        #fb-root
                        a.fb-share-button#fbShareButton(data-href='http://socialsounds.azurewebsites.net', data-layout='button')
                        #gpShareButton
                            a.g-plus(data-action='share', data-annotation='none', data-height='24', data-href='http://socialsounds.azurewebsites.net')
                        #twitterShareButton
                            a.twitter-share-button(href='https://twitter.com/intent/tweet', data-text=' ', data-url='http://socialsounds.azurewebsites.net', data-hashtags='socialsounds') Tweet
                        .pull-right
                            button.btn#btnOpenInBrowser Open in new window
                            button.btn#btnMuteContent Mute
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                textarea.form-control
                .form-inline
                    input.form-control(type='text')
                    button.btn Send
block bodyscripts
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    script(src='/javascripts/socketio-client.js')
    script(src='/javascripts/player.js')
    script(src='/javascripts/youtube-player.js')
    script(src='http://connect.soundcloud.com/sdk/sdk-3.0.0.js')
    script(src='https://w.soundcloud.com/player/api.js')
    script(src='/javascripts/soundcloud-player.js')
    script(src='/javascripts/facebook-social-plugin.js')
    script(src='https://apis.google.com/js/client.js?onload=googleApiClientReady')
    script(src='https://apis.google.com/js/platform.js' async defer)
    script(src='/javascripts/twitter-social-plugin.js')