extends bodycontent

block content
    .container-fluid
        .row
            .hidden-xs.hidden-sm.col-md-3.col-lg-3
                div#ownerDashboard(style="display: none")
                    span Owner control
                        .row
                            table
                                button.btn#btnDashSkip Skip
                                button.btn#btnDashMute Mute
                                button.btn#btnDashPause Pause
                #contentQueueDiv
                    span Playlist
                    ul#contentQueueList
                    .progress
                        .progess-bar
                            label#labelSkip 0/0 voted person voted to skip
                    div
                    button.btn#btnSkip Skip
                #channelListDiv
                    span Channel Title
                    ul#channelList
                    div
                        button.btn#btnCreateChannelModal(data-toggle='modal', data-target='#createChannelModal') Create channel  
                    
                    .modal.fade#createChannelModal(role='dialog', arial-labelled-by='createChannel', tabindex='-1')
                        .modal-dialog(role='document')
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                                        span(aria-hidden='true') &times;
                                    h4.modal-title#createChannel Create a channel
                                .modal-body
                                    label Channel name 
                                    input.form-control#createChannelNameField(type='text', name='channelName')
                                    label Channel password 
                                    input.form-control#createChannelPasswordField(type='password', name='channelPassword')
                                    label Confirm password 
                                    input.form-control#createChannelPasswordConfirmField(type='password', name='channelPasswordConfirm')
                                    .alert.alert-danger#createChannelPasswordErrorMessage(style='display: none') Passwords don't match.
                                    .alert.alert-danger#createChannelNameErrorMessage(style='display: none') Channel name already taken, please chose a new one.
                                .modal-footer
                                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                                    button.btn.btn-primary#btnCreateChannel(type='button') Create

                    .modal.fade#switchChannelModal(role='dialog', arial-labelled-by='switchChannel', tabindex='-1')
                        .modal-dialog(role='document')
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                                        span(aria-hidden='true') &times;
                                    h4.modal-title#switchChannel Switch channel
                                .modal-body
                                    label Channel name 
                                    input.form-control#switchChannelNameField(type='text', name='channelName')
                                    label Channel password 
                                    input.form-control#switchChannelPasswordField(type='password', name='channelPassword')
                                    .alert.alert-danger#switchChannelPasswordErrorMessage(style='display: none') Invalid password, try again.
                                .modal-footer
                                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                                    button.btn.btn-primary#btnSwitchChannel(type='button') Join

            .col-xs-12.col-sm-12.col-md-9.col-lg-9
                .row
                    .input-group
                        .input-group-btn#searchBar
                            button.btn#addContentButton(title="Add to the playlist")
                                i.fa.fa-plus
                            button.btn.dropdown-toggle#searchResultsDropdownBtn(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                span.caret
                            ul.dropdown-menu#searchResultsDropdown
                        input.form-control#searchBarInput(type='search' placeholder='Search or enter url')
                        .input-group-btn
                            button.btn#searchButton(title="Search")
                                i.fa.fa-search
                            button.btn#startBroadcastButton Start Broadcast
                .row
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item#soundcloudPlayer
                        .iframe.embed-responsive-item#vimeoPlayer
                        .iframe.embed-responsive-item#youtubePlayer
                .row
                    .col-xs-4.col-sm-4.col-md-6.col-lg-6.no-padding-style
                        .pull-left
                            #fb-root
                                a.fb-share-button#fbShareButton(data-href='http://socialsounds.azurewebsites.net', data-layout='button')
                            #gpShareButton
                                a.g-plus(data-action='share', data-annotation='none', data-height='24', data-href='http://socialsounds.azurewebsites.net')
                            #twitterShareButton
                                a.twitter-share-button(href='https://twitter.com/intent/tweet', data-text=' ', data-url='http://socialsounds.azurewebsites.net', data-hashtags='socialsounds') Tweet
                    .col-xs-4.col-sm-4.hidden-md.hidden-lg.no-padding-style
                        .text-center
                            button.btn#smallDisplayChatBtn Chat
                            button.btn#smallDisplayPlaylistBtn Playlist
                    .col-xs-4.col-sm-4.col-md-6.col-lg-6.no-padding-style
                        .pull-right
                            button.btn#btnOpenInBrowser(title="Open this content in new window")
                                i.fa.fa-external-link
                            button.btn#btnMuteContent(title="Mute/Unmute")
                                i.fa.fa-volume-off
                                //i.fa.fa-volume-up
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12#chatSection
                .ul#chatBox
                input#inputChat(PlaceHolder="Send a message" type="text")
        .row
            .col-xs-12.col-sm-12.hidden-md.hidden-lg#smallPlaylistSection
                #smallContentQueueDiv
                    span Channel Title
                    ul#smallContentQueueList
                    .progress
                        .progess-bar
                            span#smallLabelSkip 0/0 voted person voted to skip
                    div
                    button.btn#smallBtnSkip Skip
                    #smallChannelListDiv
                    span Channel Title
                    ul#smallChannelList
                    div
                        button.btn#smallBtnCreateChannel Create channel
                        input(type='checkbox')#passwordCheckbox  
                        label.span Password protection

append bodyscripts
    script(type='text/javascript').
        var userCookie = !{JSON.stringify(user)}
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    script(src='/javascripts/socketio-client.js')
    script(src='/javascripts/player.js')
    script(src='/javascripts/youtube-player.js')
    script(src='http://connect.soundcloud.com/sdk/sdk-3.0.0.js')
    script(src='https://w.soundcloud.com/player/api.js')
    script(src='/javascripts/soundcloud-player.js')
    script(src='/javascripts/facebook-social-plugin.js')
    script(src='https://apis.google.com/js/client.js?onload=googleApiClientReady')
    script(src='https://apis.google.com/js/platform.js' async defer)
    script(src='/javascripts/twitter-social-plugin.js')