extends bodycontent

block navbarcontent
    li.divider-vertical
    li.dropdown
        a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Channels 
            span.caret
        ul.dropdown-menu#channelList
    li
        a#btnCreateChannelModal(title='Create a new channel', data-toggle='modal', data-target='#createChannelModal') Create channel

block content
    .modal.fade.active#createChannelModal(role='dialog', arial-labelled-by='createChannel', tabindex='-1', data-backdrop='static', data-keyboard='false')
        .modal-dialog.modal-sm(role='document')
            .modal-content
                .modal-header
                    h4.modal-title#createChannel Create a channel
                .modal-body
                    label Channel name 
                    input.form-control#createChannelNameField(type='text', name='channelName')
                    label Channel password 
                    input.form-control#createChannelPasswordField(type='password', name='channelPassword')
                    label Confirm password 
                    input.form-control#createChannelPasswordConfirmField(type='password', name='channelPasswordConfirm')
                    .alert.alert-danger#createChannelPasswordErrorMessage(style='display: none') Passwords don't match.
                    .alert.alert-danger#createChannelNameErrorMessage(style='display: none') Channel name already taken, please chose a new one.
                .modal-footer
                    .pull-left
                        input(type='checkbox')#cboxPrivate 
                        label(for="cboxPrivate", title='No name or password are required. You can share your private channel with the URL.') Private channel
                    .pull-right
                        button.btn.btn-default#btnCancelCreateChannel(type='button', data-dismiss='modal') Close
                        button.btn.btn-primary#btnCreateChannel(type='button') Create

    .modal.fade.active#importContentModal(role='dialog', arial-labelled-by='importContent', tabindex='-1')
        .modal-dialog.modal-sm(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4.modal-title#importContent Import a playlist
                .modal-body
                    span To do so, copy and paste the URLs in the text field from Youtube or SoundCloud (with a space in-between different URL).
                    input.form-control#importContentData(type='text', name='content', placeholder='URL URL URL ...')
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary#btnImportContent(type='button') Import

    .modal.fade.active#switchChannelModal(role='dialog', arial-labelled-by='switchChannel', tabindex='-1', data-backdrop='static', data-keyboard='false')
        .modal-dialog.modal-sm(role='document')
            .modal-content
                .modal-header
                    h4.modal-title#switchChannel Join channel
                .modal-body
                    label Channel name 
                    input.form-control#switchChannelNameField(type='text', name='channelName', disabled)
                    label Channel password 
                    input.form-control#switchChannelPasswordField(type='password', name='channelPassword')
                    .alert.alert-danger#switchChannelPasswordErrorMessage(style='display: none') Invalid password, try again.
                .modal-footer
                    button.btn.btn-default#btnCancelSwitchChannel(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary#btnSwitchChannel(type='button') Join

    .container-fluid
        .page-title-remote
            span.h1#channelTitle #{room}
            .pull-right
                a.btn.btn-default#goToPlayerBtn(title="Open this page in player", href='/player/channels/Home-channel') Player
        div
            .center-div-remote#playingContentSection
                div
                    .input-group#searchBar
                        .input-group-btn#searchResultGroup
                            button.btn.btn-default.dropdown-toggle#searchResultsDropdownBtn(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                span.caret
                            ul.dropdown-menu#searchResultsDropdown
                                li 
                                    a(data-link="") There's nothing to see here
                        input.form-control#searchBarInput(type='search', placeholder='Search')
                        .input-group-btn
                            button.btn.btn-default#searchButton(title="Search")
                                i.fa.fa-search
                .content-added-notification
                    .alert.alert-info#contentReadyToBeAddedMessage(style='display: none; margin-bottom: 0px')
                div
                    .col-xs-8.col-sm-8.col-md-8.col-lg-8.no-padding-style
                        .pull-left
                            #fb-root
                                a.fb-share-button#fbShareButton(data-href='http://socialsounds.azurewebsites.net', data-layout='button')
                            #gpShareButton
                                a.g-plus(data-action='share', data-annotation='none', data-height='24', data-href='http://socialsounds.azurewebsites.net')
                            #twitterShareButton
                                a.twitter-share-button(href='https://twitter.com/intent/tweet', data-text=' ', data-url='http://socialsounds.azurewebsites.net', data-hashtags='socialsounds') Tweet
                    .col-xs-4.col-sm-4.col-md-4.col-lg-4.no-padding-style
                        .pull-right
                            .user-number
                                i.fa.fa-user 
                                label.text#nbUsers
                            button.btn.btn-default#btnOpenInBrowser(title="Open this content in new window")
                                i.fa.fa-external-link
                #ownerDashboard(style="display: none")
                    .owner-dashboard-section-title
                        span.h4 Owner's controls
                    .btn-group.pull-left
                        button.btn.btn-default#btnDashPause
                            i.glyphicon.glyphicon-play#btnDashPausePlay(title="Play")
                            i.glyphicon.glyphicon-pause#btnDashPausePause(title="Pause", style="display: none")
                        button.btn.btn-default#btnDashSkip
                            i.glyphicon.glyphicon-step-forward(title="Skip")
                        button.btn.btn-default#btnDashMute
                            i.glyphicon.glyphicon-volume-up#btnDashMuteVolumeOn(title="Mute the channel")
                            i.glyphicon.glyphicon-volume-off#btnDashMuteVolumeOff(title="Unmute the channel", style="display: none")
                    .hidden-xs.hidden-sm.pull-right
                        button.btn.btn-default#btnImportModal(title='Import a playlist', data-toggle='modal', data-target='#importContentModal') Import
            .sub-center-div-remote#playlistSection
                .playlist-section-title-remote
                    span.h3 Playlist
                    .hidden-md.hidden-lg.pull-right
                        button.btn.btn-default.btn-title#smallDisplayChatBtn Chat
                .playlist-section-remote
                    .list-group.content-queue-list-group-remote#contentQueueListGroup
                .skip-section-remote
                    .skip-section-button
                        button.hidden-xs.hidden-sm.btn.btn-default#exportBtn(title='Export the current playlist') Export
                        button.btn.btn-default#btnSkip(title="Vote to skip content playing") Skip
                    label#labelSkip 0/0 user voted to skip
                    .progress
                        .progess-bar.progress-bar-info#progessBar(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%")
                            label 
            .right-div-remote#chatSection
                .chat-section-title-remote
                    span.h3 Chat
                    .hidden-md.hidden-lg.pull-right
                        button.btn.btn-default.btn-title#smallDisplayPlaylistBtn Playlist
                .chat-section-remote
                    .chat-messages-remote
                        .chat-box.ul#chatBox
                    .chat-interface-remote
                        input.input-chat.form-control#inputChat(PlaceHolder="Send a message" type="text" maxlength="300")   

append bodyscripts
    script(type='text/javascript').
        var userCookie = !{JSON.stringify(user)}
        var roomId = !{JSON.stringify(room)}
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    script(src='/javascripts/socketio-client.js')
    script(src='/javascripts/remote.js')
    script(src='/javascripts/youtube-player.js')
    script(src='http://connect.soundcloud.com/sdk/sdk-3.0.0.js')
    script(src='https://w.soundcloud.com/player/api.js')
    script(src='/javascripts/soundcloud-player.js')
    script(src='/javascripts/facebook-social-plugin.js')
    script(src='https://apis.google.com/js/client.js?onload=googleApiClientReady')
    script(src='https://apis.google.com/js/platform.js' async defer)
    script(src='/javascripts/twitter-social-plugin.js')