extends bodycontent

block content
    .modal.fade.active#createChannelModal(role='dialog', arial-labelled-by='createChannel', tabindex='-1')
        .modal-dialog.modal-sm(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4.modal-title#createChannel Create a channel
                .modal-body
                    label Channel name 
                    input.form-control#createChannelNameField(type='text', name='channelName')
                    label Channel password 
                    input.form-control#createChannelPasswordField(type='password', name='channelPassword')
                    label Confirm password 
                    input.form-control#createChannelPasswordConfirmField(type='password', name='channelPasswordConfirm')
                    .alert.alert-danger#createChannelPasswordErrorMessage(style='display: none') Passwords don't match.
                    .alert.alert-danger#createChannelNameErrorMessage(style='display: none') Channel name already taken, please chose a new one.
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary#btnCreateChannel(type='button') Create
                    input(type='checkbox')#cboxPrivate
                    label.span Private channel

    .modal.fade.active#switchChannelModal(role='dialog', arial-labelled-by='switchChannel', tabindex='-1')
        .modal-dialog.modal-sm(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4.modal-title#switchChannel Switch channel
                .modal-body
                    label Channel name 
                    input.form-control#switchChannelNameField(type='text', name='channelName')
                    label Channel password 
                    input.form-control#switchChannelPasswordField(type='password', name='channelPassword')
                    .alert.alert-danger#switchChannelPasswordErrorMessage(style='display: none') Invalid password, try again.
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary#btnSwitchChannel(type='button') Join

    .container-fluid
        .row.search-section-remote
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                .row
                    .input-group
                        .input-group-btn#searchResultGroup
                            button.btn#addContentButton(title="Add to the playlist")
                                i.fa.fa-plus
                            button.btn.dropdown-toggle#searchResultsDropdownBtn(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                span.caret
                            ul.dropdown-menu#searchResultsDropdown
                        input.form-control#searchBarInput(type='search' placeholder='Search or enter url')
                        .input-group-btn
                            button.btn#searchButton(title="Search")
                                i.fa.fa-search
                            button.btn#startBroadcastButton Start Broadcast
                .row.selected-content-row-remote
                    .alert.alert-info#contentReadyToBeAddedMessage(style='display: none; margin-bottom: 0px')
                .row.share-buttons-remote
                    .col-xs-10.col-sm-10.col-md-10.col-lg-10.no-padding-style
                        .pull-left
                            #fb-root
                                a.fb-share-button#fbShareButton(data-href='http://socialsounds.azurewebsites.net', data-layout='button')
                            #gpShareButton
                                a.g-plus(data-action='share', data-annotation='none', data-height='24', data-href='http://socialsounds.azurewebsites.net')
                            #twitterShareButton
                                a.twitter-share-button(href='https://twitter.com/intent/tweet', data-text=' ', data-url='http://socialsounds.azurewebsites.net', data-hashtags='socialsounds') Tweet
                    .col-xs-2.col-sm-2.col-md-2.col-lg-2.no-padding-style
                        .pull-right
                            button.btn(title="Number of users")
                                i.fa.fa-user
                                label#nbUsers
                            button.btn#btnOpenInBrowser(title="Open this content in new window")
                                i.fa.fa-external-link
        .row.content-section-remote
            .col-xs-12.col-sm-12.col-md-12.col-lg-12(style="height: 100%;")
                .row.playlist-content-section-remote
                    .row
                        label.h4#channelLabel Playlist
                    .list-group.playlist-list#contentQueueListGroup
                    .row
                        button.btn.pull-right#btnSkip Skip
                    .row
                        .progress
                            .progess-bar(role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100")
                                span#labelSkip 0/0 voted person voted to skip
                .row.channel-list-content-section-remote
                    .row
                        span.h4 Channels
                    .row.channel-list
                        ol#channelList
                    .row
                        button.btn.pull-right#btnCreateChannelModal(data-toggle='modal', data-target='#createChannelModal') Create channel
        .row.chat-section-remote
            .chat-area-remote.no-padding-style#chatSection
                .chat-box-remote.ul#chatBox
                input.input-chat-remote#inputChat(PlaceHolder="Send a message" type="text")

append bodyscripts
    script(type='text/javascript').
        var userCookie = !{JSON.stringify(user)}
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    script(src='/javascripts/socketio-client.js')
    script(src='/javascripts/remote.js')
    script(src='/javascripts/youtube-player.js')
    script(src='http://connect.soundcloud.com/sdk/sdk-3.0.0.js')
    script(src='https://w.soundcloud.com/player/api.js')
    script(src='/javascripts/soundcloud-player.js')
    script(src='/javascripts/facebook-social-plugin.js')
    script(src='https://apis.google.com/js/client.js?onload=googleApiClientReady')
    script(src='https://apis.google.com/js/platform.js' async defer)
    script(src='/javascripts/twitter-social-plugin.js')