extends layout

block wrapperContent
  .container
        .col-sm-6.com-sm-offset-3
            h1
                span.fa.fa-sign-in.signUpTitle
                span Sign up

            if sessionFlash && sessionFlash.message
                .alert.alert-danger #{sessionFlash.message}

            form(action='/signup', method='post', onsubmit='return validateEmail()')
                .form-group
                    label Email
                    input.form-control#emailField(type='text', name='email')
                .alert.alert-danger#emailErrorMessage(style='display: none') Invalid email address.
                .form-group
                    label Password
                    input.form-control(type='password', name='password')
                button.btn.btn-warning.btn-lg Sign up

            hr
            p 
                span Already have an account? 
                a(href='/login')
                    span Log in
                span .
            p
                span Or go 
                a(href='/')
                    span home
                span .

    script.
        function validateEmail() {
            var email = document.getElementById('emailField').value;
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            var isValid = re.test(email);
            if (!isValid) document.getElementById('emailErrorMessage').style.display = 'inline-block';
            return isValid;
        }
