extends layout

block content
  .container
        .col-sm-6.com-sm-offset-3
            h1
                span.fa.fa-sign-in.signUpTitle
                span Sign up

            if sessionFlash && sessionFlash.message
                .alert.alert-danger #{sessionFlash.message}

            form(action='/signup', method='post')
                .form-group
                    label Email
                    input.form-control(type='text', name='email')
                .form-group
                    label Password
                    input.form-control(type='password', name='password')
                button.btn.btn-warning.btn-lg Sign up

            hr
            p 
                span Already have an account? 
                a(href='/login')
                    span Log in
                span .
            p
                span Or go 
                a(href='/')
                    span home
                span .